*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.form{
    width: 1200px;
    background-color: silver;
    height: 700px;
    text-align: center;
}
.form h2{
    margin-bottom: 20px;
    margin-top: 10px;
}
.form_main{
    width: 90%;
    height: 500px;
    /* background-color: aqua; */
    box-shadow: 10px 5px 15px 0px;
    border-radius: 10px;
}
.form_left{
    width: 50%;
    height: 500px;
    background-color: red;
    float: left;
    border-radius: 10px 0px 0px 10px;
    padding-top: 200px;
    /* margin-left: 30px; */
}
.form_left h1{
    margin-bottom: 20px;
    color: aliceblue;
}
.form_left p{
    margin-bottom: 20px;
    color: aliceblue;
}
#sig{
    width: 100px;
    border: 1px solid wheat;
    background-color: red;
    border-radius: 10px;
}
.form_right{
    width: 50%;
    height: 500px;
    background-color:whitesmoke;
    float: right;
    border-radius: 0px 10px 10px 0px;
    padding-top: 100px;
}
.form_right h1{
    margin-bottom: 20px;
}
.text{
    line-height: 40px;
    background-color: silver;
    margin-bottom: 20px;
    width: 250px;
    padding-left: 10px;
    border: 0px;
}
.nut{
    width: 90px;
    line-height: 25px;
    background-color: red;
    border-radius: 10px;
    border: 0px;
    color: antiquewhite;
    margin-bottom: 5px;
}
.nut:hover{
    background-color: orangered;
}